<h1>Chuckstaurants</h1>
<ul>

</ul>

<% @restaurants.each do |restaurant| %>
<div class="container text-center">
  <div class="col">
  <div class="row card" style="width: 18rem;">
    <img class="card-img-top" src="https://media.gettyimages.com/id/163063331/fr/photo/chuck-norris-points-a-gun-in-a-scene-from-the-film-hero-and-the-terror-1988.jpg?s=612x612&w=gi&k=20&c=zCRzuMzCSr6v5I1IAw_2cfR9xKsEQy6qtGpu_6Ya0_M=" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= restaurant.name %></h5>
      <p class="card-text"><%= restaurant.address %></p>
      <div class="btn btn-primary"><%= link_to "See details", restaurant_path(restaurant), class: "text-white" %></div>
    </div>
  </div>
</div>

<% end %>
<%= link_to "Create your restaurant", new_restaurant_path %>
